:root {
	--dark-purple: #855fb1;
	--light-purple: #d9b8ff;
	--light-blue: #8fe3f9;
	--dark-blue: #4d96a9;
	--main-text: #87879d;
	--headings: #28283d;
	--white-color: #fafafa;

	--website-width: 1440px;
	--mobile-width: 375px;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 1.5;
}

img {
	width: 32%;
	max-height: 50rem;
	object-fit: cover;
}
.image-full {
	max-height: 300px;
	width: 100%;
	object-fit: cover;
	margin-bottom: 2em;
}

/* Typography */
h1,
h2,
h3 {
	font-weight: 900;
}
p {
	font-weight: 500;
	margin-bottom: 3.2rem;
}

h1 {
	font-size: 6.4rem;
	line-height: 1;
	margin-bottom: 3.4rem;
}

h2 {
	font-size: 4rem;
}

.small-text {
	font-size: 1.6rem;
	font-weight: 900;
	letter-spacing: 4px;
	text-transform: uppercase;
}

/* Buttons */
.btn {
	display: inline-block;
	padding: 1.5em 3em;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1px;
	border-radius: 5rem;
	border: 0;
	margin-right: 1.5rem;
	cursor: pointer;
}

.download-btn {
	background: var(--dark-blue);
	color: var(--white-color);
}

.btn-primary:hover,
.btn-primary:focus {
	transform: scale(1.1);
}
.what-is-it-btn {
	background: var(--dark-purple);
	color: var(--white-color);
}

/* Layout */
.container {
	width: 90%;
	max-width: var(--website-width);
	margin: 0 auto;
}

.container-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-content {
	border: 1px solid red;
	width: 33%;
	max-width: 540px;
	text-align: center;
}
